npm install @react-navigation/native
npm install @react-navigation/native-stack
npm install react-native-gesture-handler react-native-reanimated react-native-screens react-native-safe-area-context @react-native-community/masked-view
npm install react-native-image-picker
npm install react-native-fs